.bg1 {
  background-color: rgb(16, 92, 88);
  background-size: cover;
  height: 100%;
}

html, body {
  height: 100%;
}

.rps {
  height: 200px;
  width: 200px;
}

#rock {
  text-decoration-style: wavy;
}

#paper {
  text-decoration-style: wavy;
}

#scissors {
  text-decoration-style: wavy;
}

.check1 {
  color: rgb(16, 92, 88);
}

.check2 {
  color: lime;
}

.compcheck {
  color: red;
}